html {
  background: url(https://s3-us-west-2.amazonaws.com/chorum/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:rgba(0, 0, 0, 0.8);
}

.call-to-action {
  color: #fff;
  padding: 6em;
  padding-top: 10em;
}

.call-to-action h2 {
  font-weight: 200;
}

.call-to-action h1 {
  font-weight: 800;
}

.call-to-action h2:first-of-type {
  margin-top: 1.5em;
}

.login-form {
  background-color: #ecf0f1;
  box-shadow: 1px 0 5px #000;
  padding: 2em;
  margin-top: 10em;
  margin-right: 1em;
  border-radius: 5px;
}
